@media only screen and (max-width: 768px) {
  body {
    font-size: 11px;
    padding-bottom: 0;
  }

  .app-nav li {
    margin: 0 1rem;
  }

  .app-nav li a {
    margin: 0 0rem;
    font-size: 8px;
  }

  .markdown-section h1 {
    font-size: 1.2rem;
    margin: 0 0 1rem;
  }

  .markdown-section h2 {
    font-size: 0.875rem;
    margin: 45px 0 0.8rem;
  }

  .markdown-section h3 {
    font-size: 0.875rem;
    margin: 40px 0 0.6rem;
  }

  .markdown-section h4 {
    font-size: 0.875rem;
  }
  .markdown-section>* {
    font-size: 10px;
  }

  .markdown-section pre>code {
    -moz-osx-font-smoothing: initial;
    -webkit-font-smoothing: initial;
    background-color: #1e1e25;
    border-radius: 2px;
    color: #c0c0c0;
    display: block;
    font-family: Roboto Mono, Monaco, courier, monospace;
    font-size: 0.6rem;
    line-height: inherit;
    margin: 0 1px;
    max-width: inherit;
    overflow: inherit;
    padding: 1em 1px;
    white-space: inherit;
  }

  .markdown-section figure,
  .markdown-section p {
    margin: 0em 0;
    line-height: 1rem;
  }

  .markdown-section>* {
    box-sizing: border-box;
    font-size: inherit;
    margin-top: 0.3em;
  }

}

@media (max-width: 768px) {
  body {
    padding-bottom: 0;
  }


  .app-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: transform 0.3s ease-in-out;
    padding: 6px;
  }


    .footer-content {
      display: none;
    }

 /*  .footer-content>span:last-child {
    display: none;
    margin-top: 5px;
    margin-bottom: -8px;
    font-size: 1px;
    word-spacing: 10em;
  }

  .footer-content>.footer-text {
    display: none;
    font-size: 5px;
  } */
  .toc-container {
    display: none;
  }

  aside.toc-nav {
    max-width: 0px;
    opacity: 0;
  }
  .app-nav li ul li a {
    font-size: 0.6em;  /* Reduce font size slightly */
    letter-spacing: -0.05em;  /* Reduce letter spacing */
  }

  .app-nav li ul li {
    margin: 2px 8px;  /* Reduce vertical margin */
    padding: 3px 0;  /* Reduce vertical padding */
  }

  /* New styles for badges */
  /* Tightly grouped badge styles */
  p:has(img[src*="img.shields.io"]) {
    display: inline-block;
    font-size: 0;
    line-height: 0;
  }

  img[src*="img.shields.io"] {
    transform: scaleY(0.8);
    transform-origin: center top;
    margin: -3px;
    vertical-align: top;
  }
}
