@media only screen and (max-width: 600px) {
  .supheader {
    font-size: 2em !important;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  body {
    font-size: 0.75rem;
    padding-bottom: 0;
    /* fppter */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .app-nav li {
    margin: 0 1rem;
    text-align: left;
  }

  .app-nav li a {
    margin: 0;
    font-size: 0.5rem;
    text-align: left;
  }

  .markdown-section h1 {
    font-size: 1.2rem;
    margin: 0 0 1rem;
  }

  .markdown-section h2 {
    font-size: 0.875rem;
    margin: 2.8125rem 0 0.8rem;
  }

  .markdown-section h3 {
    font-size: 0.875rem;
    margin: 2.5rem 0 0.6rem;
  }

  .markdown-section h4 {
    font-size: 0.875rem;
  }

  .markdown-section>* {
    font-size: 0.625rem;
  }

  .markdown-section pre>code {
    -moz-osx-font-smoothing: initial;
    -webkit-font-smoothing: initial;
    background-color: #1e1e25;
    border-radius: 0.125rem;
    color: #c0c0c0;
    display: block;
    font-family: Roboto Mono, Monaco, courier, monospace;
    font-size: 0.6rem;
    line-height: inherit;
    margin: 0 0.0625rem;
    max-width: inherit;
    overflow: inherit;
    padding: 1em 0.0625rem;
    white-space: inherit;
  }
  .markdown-section p {
    margin: 0;
    line-height: 1.4rem;
    font-size: 0.9rem;
    line-height: 1.5rem !important;
    padding: 0.5rem !important;
  }
  .markdown-section>* {
    box-sizing: border-box;
    font-size: inherit;
    margin-top: 0.3em;
  }

  /* New styles for badges */
  /* Tightly grouped badge styles */
  p:has(img[src*="img.shields.io"]) {
    display: inline-block;
    font-size: 0;
    line-height: 0;
  }

  img[src*="img.shields.io"] {
    transform: scaleY(0.8);
    transform-origin: center top;
    margin: -0.1875rem;
    vertical-align: top;
  }
  /* Fixed to bottom */
  /* .footer-content {
    position: static !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 0.2rem !important;
    font-size: 0.6rem !important;
    line-height: 1.5 !important;
    margin-top: 2rem !important;
  }
  .footer-content img {
    height: 1.5rem !important;
    width: auto !important;
  }
  .markdown-section {
    padding-bottom: 0 !important;
  } */

   /* Fixed to viewport */
  .footer-content {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 0.2rem !important;
    font-size: 0.6rem !important;
  }

  .footer-content > * {
    margin: 0 0.25rem !important;
  }

  .footer-content img {
    height: 20px !important;
    width: auto !important;
  }


}

@media only screen and (min-width: 600px) {
  .supheader {
    font-size: 3.2em !important;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  .app-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: transform 0.3s ease-in-out;
    padding: 0.375rem;
  }

  /* Leave some margin before footer */
  .markdown-section {
    padding-bottom: 8rem;
 }

  .app-nav li ul li a {
    font-size: 0.6em;
    letter-spacing: -0.05em;
  }

  .app-nav li ul li {
    margin: 0.125rem 0.5rem;
    padding: 0.1875rem 0;
  }
}
